@use "sass:math";

////////////////////
// インナー幅と余白設定
////////////////////
:root {
  --inner: 1215px;
  --padding-pc: 25px;
  --padding-sp: 20px;
}

////////////////////
// フォント設定
////////////////////
@font-face {
  font-display: swap;
  font-family: "Noto Serif JP";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NotoSerifJP-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Serif JP";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/NotoSerifJP-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Noto Serif JP";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NotoSerifJP-Bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Lora";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Lora-Regular.woff") format("woff");
}

:root {
  --base-font: "Noto Serif JP", sans-serif;
  --poppins-font: "Lora", sans-serif;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

////////////////////
// 色の指定
////////////////////
:root {
  --black: #000;
  --black2: #1C1B1F;
  --white: #fff;
  --primary: #AC0C2D;
  --secondary: #004664;
  --tertiary: #AE8C6A;
  --brown: #B19375;
  --light-blue: #E7F1F5;
  --light-gray: #F5F5F5;
  --light-gray2: #DCDFE4;
}

////////////////////
// z-indexの指定
////////////////////
:root {
  --z-index-header: 900;
}


////////////////////
// グローバルスタイル
////////////////////
body {
  background-color: var(--white);
  font-family: var(--base-font);
  color: var(--black);
  font-weight: var(--medium);
  line-height: 1.5;
}