@use "sass:math";

////////////////////
// インナー幅と余白設定
////////////////////
$inner: 1215px;
$padding-pc: 25px;
$padding-sp: 27.5px;

////////////////////
// フォント設定
////////////////////
@font-face {
  font-display: swap;
  font-family: "Noto Sans JP";
  font-weight: 400 500 600 700;
  font-style: normal;
  src: url("../fonts/NotoSansJP-VariableFont_wght.woff2") format(woff2) tech (variations);
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Poppins-Bold.woff2")format(woff2);
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Poppins-SemiBold.woff2") format(woff2);
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Poppins-Medium.woff2") format(woff2);
}

:root {
  --base-font: "Noto Sans JP", sans-serif;
  --poppins-font: "Poppins", serif;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

////////////////////
// 色の指定
////////////////////
:root {
  --black: #000;
  --black2: #1C1B1F;
  --white: #fff;
  --primary: #AC0C2D;
  --secondary: #004664;
  --tertiary: #AE8C6A;
  --light-tertiary: #F3E9DE;
  --brown: #B19375;
  --light-blue: #E7F1F5;
  --light-gray: #F5F5F5;
  --light-gray2: #DCDFE4;
  --primary-gradation: linear-gradient(to bottom, #AC0C2D 0%, #D33556 100%);
  --secondary-gradation: linear-gradient(to bottom, #004664 33%, #349DCB 100%);
}

////////////////////
// z-indexの指定
////////////////////
:root {
  --z-index-header: 900;
}


////////////////////
// グローバルスタイル
////////////////////
body {
  background-color: var(--white);
  font-family: var(--base-font);
  color: var(--black);
  font-weight: var(--medium);
  line-height: 1.5;
}