@use "global" as *;

.character {
  overflow-x: clip;
  padding-top: rem(97);
  padding-bottom: rem(90);
  position: relative;
}

%characterImg {
  position: absolute;
  z-index: 1;
}

%characterImg img {
  object-fit: contain;
}

.character__img1 {
  @extend %characterImg;
  top: rem(-10);
  left: 0;
  left: calc(50% - min(188/375*100vw, rem(370)));
  width: rem(200);
  aspect-ratio: 200/173;
}

.character__img2 {
  @extend %characterImg;
  top: rem(-11);
  right: calc(50% - min(187 / 375* 100vw, rem(375)));
  width: rem(180);
  aspect-ratio: 180/156;
}

.character__img3 {
  @extend %characterImg;
  bottom: rem(11);
  left: rem(-18);
  left: calc(50% - min(206 / 375* 100vw, rem(360)));
  width: rem(150);
  aspect-ratio: 150/129;
}

.character__img4 {
  @extend %characterImg;
  bottom: rem(-2);
  right: calc(50% - min(187 / 375* 100vw, rem(370)));
  width: rem(180);
  aspect-ratio: 180/156;
}

.character__inner.inner {
  padding-inline: rem(24);
}

.character__container {
  margin-inline: calc(50% - 50vw);
  padding-inline: calc(50vw - 50%);
  padding-block: rem(80);
  display: grid;
  // place-items: center;
  color: var(--white);
  background-image: var(--primary-gradation);
  position: relative;
}

%characterWave {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.character__container::before {
  @extend %characterWave;
  top: rem(-52);
  left: rem(-60);
  width: rem(326);
  width: min(326/375*100vw, 420px);
  aspect-ratio: 326/42;
  background-image: url(../images/sp/bg-wave-sub-primary.svg);
}

.character__container::after {
  @extend %characterWave;
  top: rem(-48);
  left: 50%;
  transform: translateX(-50%);
  width: max(100vw, 700px);
  aspect-ratio: 700/58;
  background-image: url(../images/sp/bg-wave-primary.svg);
}


.character__title {}

.character__main-img {
  margin-top: rem(30);
  margin-inline: auto;
  position: relative;
  top: rem(-3);
  left: rem(3);
  width: rem(320);
}

.character__main-img img {
  position: relative;
  object-fit: contain;
}

.character__main-img::before {
  content: "";
  position: absolute;
  top: 47%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  background-image: url(../images/common/blob.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(415);
  aspect-ratio: 472/432;
}

.character__caption {
  margin-top: rem(5);
  text-align: center;
}

.character__name {
  font-size: rem(18);
  font-weight: var(--bold);
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.character__text {
  margin-top: rem(30);
  padding-inline: rem(2);
  font-size: rem(16);
  font-weight: var(--medium);
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.character__buttons {
  margin-top: rem(42);
  display: grid;
  gap: rem(24);
  place-items: center;
}

.character__button {
  margin-inline: rem(-14.5);
}