@use "global" as *;

.coming-soon {
  padding-block: rem(128);
}

.coming-soon__inner.inner {
  padding-inline: rem(17.5);
}

.coming-soon__bubble {
  text-align: center;
  background-color: var(--light-blue);
  padding: rem(56) rem(84.5);
  border-radius: 50%;
  position: relative;
}

.coming-soon__bubble::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translateX(-50%);
  width: rem(48);
  aspect-ratio: 48/24;
  background-color: inherit;
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

.coming-soon__text {
  overflow-wrap: anywhere;
  word-break: keep-all;
  font-size: rem(40);
  font-weight: var(--bold);
  font-family: var(--poppins-font);
  line-height: 1.1;
  text-transform: uppercase;
}

.coming-soon__img {
  margin-top: rem(30);
  margin-inline: auto;
  width: min(100%, rem(268));
}

.coming-soon__img img {
  object-fit: contain;
}

