@use "global" as *;

.coming-soon {
  overflow-x: clip;
  position: relative;
  padding-block: rem(255) rem(92);

  @include mq("md") {
    padding-block: rem(365) rem(208);
  }
}

.coming-soon__inner.inner {
  padding-inline: rem(17.5);

  @include mq("md") {
    padding-inline: $padding-pc;
  }
}

.coming-soon__wrap {
  @include mq("md") {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    // padding-right: rem(68);
  }
}

.coming-soon__bubble {
  text-align: center;
  padding: rem(56) rem(56) rem(65);
  position: relative;
  width: min(100%, rem(304));
  aspect-ratio: 300/289;
  margin-inline: auto;
  display: grid;
  place-items: center;

  @include mq("md") {
    margin-inline: initial;
    width: min(100%, rem(450));
    padding-bottom: rem(54);
  }
}

.coming-soon__bubble::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: rotate(-30deg);
  width: 100%;
  height: 100%;
  background-image: url("../images/common/blob2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.coming-soon__text {
  overflow-wrap: anywhere;
  word-break: keep-all;
  font-size: rem(40);
  font-weight: var(--bold);
  font-family: var(--poppins-font);
  line-height: 1.1;
  text-transform: uppercase;

  @include mq("md") {
    font-size: rem(70);
    line-height: 1;
  }
}

.coming-soon__img {
  margin-top: rem(-75);
  margin-inline: auto;
  width: min(100%, rem(268));

  @include mq("md") {
    order: -1;
    margin-top: initial;
    margin-left: initial;
    margin-right: rem(-56);
    position: relative;
    z-index: 1;
  }
}

.coming-soon__img img {
  object-fit: contain;
}