@use "global" as *;

.countdown {
  position: relative;
}

.countdown__text {
  font-size: rem(18);
  font-weight: var(--bold);
  color: var(--secondary);
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
}

.countdown__num {
  font-size: rem(52);
  font-family: var(--poppins-font);
  // letter-spacing: 0.05em;

  @include mq("md") {
    margin-inline: initial;
  }
}

.countdown__circle {
  width: rem(228);
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: circle 20s linear infinite;

  @include mq("xl") {
    width: min(228/1920*100vw, 300px);
  }
}

.countdown__circle-en {
  overflow: visible;
}

.countdown__circle-path {
  fill: none;
}

.countdown__circle-text {
  fill: var(--brown);
  font-size: 30px;
  font-weight: var(--semi-bold);
  line-height: 1.5;
  letter-spacing: 0.275em;
}

@keyframes circle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}