@use "global" as *;

.footer {
  position: relative;
  padding-block: rem(80) rem(60);
  background-color: var(--light-gray);
}

.footer__inner.inner {
  padding-inline: initial;

  @include mq("md") {
    padding-inline: rem(40);
  }
}

.footer__nav {
  display: flex;
  justify-content: center;
}

.footer__nav-item {}

%footerLink {
  padding-inline: rem(30);
  font-size: rem(14);
  font-weight: var(--semi-bold);
  line-height: 1.4;
  letter-spacing: 0.02em;
  padding-bottom: rem(8);
}

.footer__nav-link-blank {
  @extend %footerLink;
  border-right: 2px solid var(--light-gray2);
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: rem(4);
  transition: color 0.3s;
}

.footer__nav-link-blank::after {
  content: "";
  width: rem(20);
  aspect-ratio: 1/1;
  background-color: currentColor;
  mask-image: url(../images/common/icon-blank.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.footer__nav-link {
  @extend %footerLink;
  display: block;
}

.footer__copylight {
  margin-top: rem(36);
  text-align: center;
}

.footer__copylight small {
  font-size: rem(12);
  font-weight: var(--semi-bold);
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.footer__totop {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__totop-button {
  display: inline-grid;
  place-items: center;
  width: rem(50);
  aspect-ratio: 1/1;
  background-color: var(--tertiary);
  border-radius: 50%;
  position: relative;
  transition: background-color 0.3s ease;

  @include mq("md") {
    width: rem(80);
  }
}

.footer__totop-button::after {
  content: "";
  width: rem(18);
  aspect-ratio: 29/22;
  background-color: var(--white);
  mask-image: url(../images/common/arrow.svg);
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;
  transform: rotate(-90deg);

  @include mq("md") {
    width: rem(29);
  }
}

@media (any-hover: hover) {
  %footerLink:hover {
    color: var(--primary);
  }

  .footer__totop-button:hover {
    background-color: var(--primary);
  }
}