@use "global" as *;

.history {
  overflow-x: clip;
  position: relative;
  padding-block: rem(57);

  @include mq("md") {
    padding-block: rem(138);
  }
}

.history__inner.inner {
  position: relative;
  padding-inline: rem(24);

  @include mq("md") {
    padding-inline: $padding-pc;
    max-width: calc(1226px + 2 * $padding-pc);
  }
}

%historyWaveReverse {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.history__inner::before {
  @extend %historyWaveReverse;
  bottom: max(-52/375*100vw, rem(-70));
  left: calc(50% - min(260/378*100vw, rem(480)));
  width: min(326/375*100vw, rem(500));
  aspect-ratio: 326/42;
  background-image: url(../images/sp/bg-wave-sub-secondary-bottom.svg);

  @include mq("md") {
    width: rem(754);
    aspect-ratio: 754/98;
    bottom: max(-134/1440*100vw, -134px);
    left: max(-302/1440*100vw, -330px);
  }

  @include mq("xxl") {
    width: calc(754/1920*100vw);
    bottom: calc(-118 / 1920* 100vw);
    left: calc(-300 / 1921* 100vw);
  }
}

.history__inner::after {
  @extend %historyWaveReverse;
  bottom: rem(-56);
  left: 50%;
  transform: translateX(-50%);
  width: max(100vw, 700px);
  aspect-ratio: 700/58;
  background-image: url(../images/sp/bg-wave-secondary-bottom.svg);

  @include mq("md") {
    background-image: url(../images/pc/bg-wave-secondary-bottom.svg);
    bottom: rem(-137);
    width: rem(1920);
    aspect-ratio: 1920/138;
  }

  @include mq("xl") {
    width: max(1920px, 100vw);
  }

  @include mq("xxl") {
    bottom: calc(-120/1920*100vw);
  }
}

.history__container {
  position: relative;
  margin-inline: calc(50% - 50vw);
  padding-inline: calc(50vw - 50%);
  padding-block: rem(30);
  background-image: var(--secondary-gradation);

  @include mq("md") {
    padding-top: initial;
    padding-bottom: rem(40);
  }
}

%historyWave {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.history__container::before {
  @extend %historyWave;
  background-image: url(../images/sp/bg-wave-sub-secondary.svg);
  width: min(326/375*100vw, 390px);
  aspect-ratio: 326/56;
  top: rem(-66);
  right: rem(-60);

  @include mq("md") {
    background-image: url(../images/pc/bg-wave-sub-secondary.svg);
    width: rem(754);
    aspect-ratio: 754/98;
    transform: scaleX(-1);
    right: calc(50% - min(1000/1440*100vw, 960px));
    top: max(-134/1440*100vw, -124px);
  }

  @include mq("xxl") {
    width: calc(754/1920*100vw);
    top: calc(-120/1920*100vw);
    ;
  }
}

.history__container::after {
  @extend %historyWave;
  top: rem(-56);
  left: 50%;
  transform: translateX(-50%);
  width: max(100vw, 700px);
  aspect-ratio: 700/58;
  background-image: url(../images/sp/bg-wave-secondary.svg);

  @include mq("md") {
    top: rem(-137);
    width: rem(1920);
    background-image: url(../images/pc/bg-wave-secondary.svg);
    aspect-ratio: 1920/138;
    transform: translateX(-50%) scaleX(-1);
  }

  @include mq("xl") {
    width: max(1920px, 100vw);
  }

  @include mq("xxl") {
    top: calc(-120/1920*100vw);
  }
}

.history__title {
  max-width: 600px;
  margin-inline: auto;
  position: relative;
  z-index: 1;

  @include mq("md") {
    margin-inline: initial;
  }
}

.history__wrapper {
  position: relative;
  margin-top: rem(30);
  margin-inline: calc(50% - 50vw);

  @include mq("md") {
    // margin-top: rem(62);
    // margin-top: min(62/1440*100vw, rem(62));
    margin-top: min(50/1440*100vw, rem(62));
  }
}

.history__wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  background-image: url("../images/pc/img_history-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px 811px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.7s, opacity 0.7s;

  @include mq("md") {
    background-size: 1920px 800px;
  }

  @include mq("xxl") {
    background-size: 100% auto;
  }
}

.history__wrapper.js-fade-bg::before {
  transform: translateY(0);
  opacity: 1;
}

@supports (background-image: url("image.webp")) {
  .history__wrapper {
    background-image: url("../img/history/img_history-bg.webp");
  }
}

.history__content {
  padding-top: rem(40);
  overflow-x: auto;
  scrollbar-width: none;

  @include mq("md") {
    padding-top: min(30/1440*100vw, rem(40));
  }
}

.history__content::-webkit-scrollbar {
  display: none;
}

.history__timeline {
  position: relative;
  display: flex;
  border-bottom: 2px solid rgb(255, 255, 255, 0.5);
  width: max-content;
  cursor: ew-resize;
  padding-inline: rem(70);

  @include mq("md") {
    padding-inline: rem(102) rem(94);
  }

  @include mq("xl") {
    padding-inline: rem(75);
  }
}

.history__timeline-item {
  position: relative;
  flex-shrink: 0;
  width: var(--width);
  width: clamp(var(--width)*0.6px, (var(--width)/1440*100vw)*0.85, var(--width)*1px);
  margin-left: var(--marginLeft);
  margin-left: clamp(var(--marginLeft)*0.6px, (var(--marginLeft)/1440*100vw)*0.85, var(--marginLeft)*1px);
  z-index: var(--z-index);
}

.history__timeline-img {
  display: grid;
  gap: rem(4);
}

.history__timeline-img img {
  object-fit: contain;
}

.history__timeline-year {
  width: fit-content;
  font-size: rem(36);
  font-weight: var(--bold);
  font-family: var(--poppins-font);
  color: var(--white);
  line-height: 1.5;
  transform: translateX(-33%);

  @include mq("md") {
    font-size: 36px;
    font-size: clamp(28px, calc(36 / 1440 * 100vw), 36px);
    ;
  }
}

.history__scroll-guide {
  margin-top: rem(29);
  margin-inline: auto;
  padding-bottom: rem(40);
  position: relative;
  width: rem(98);

  @include mq("md") {
    margin-top: rem(30);
    padding-bottom: rem(30);
  }
}

.history__scroll-guide img {
  aspect-ratio: 98/37;
  object-fit: contain;
}