@use "global" as *;

.message {
  overflow-x: clip;
  position: relative;
  padding-bottom: rem(202);

  @include mq("md") {
    padding-bottom: rem(217);
  }
}

.message__inner.inner {
  @include mq("md") {
    max-width: 1440px;
    padding-inline: initial;
  }
}

.message__container {
  display: grid;

  @include mq("md") {
    display: contents;
  }
}

.message__title {
  display: grid;
  justify-content: center;
  text-align: center;
}

.message__content {
  display: grid;

  @include mq("md") {
    margin-top: rem(60);
    grid-template-columns: 1fr calc(798/1440*100%);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "main-img text"
      ". text";
    column-gap: rem(23);
  }

  @include mq("xl") {
    margin-top: 97px;
  }
}

.message__main-img {
  border-radius: rem(10);
  margin-top: rem(25);
  margin-left: calc(50% - 50vw);

  @include mq("md") {
    margin: initial;
    grid-area: main-img;
  }
}

.message__main-img img {
  border-radius: 0 rem(10) rem(10) 0;
  aspect-ratio: 347/222;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;

  @include mq("md") {
    aspect-ratio: 619/320;
    object-position: initial;
  }
}

.message__body {
  margin-top: rem(30);

  @include mq("md") {
    margin-top: rem(67);
    padding-right: min(207/798*100%);
    grid-area: text;
  }
}

.message__text-wrap {
  display: grid;
  grid-template-columns: 1fr;
  font-size: rem(16);
  line-height: 1.6;
  gap: rem(30);

  @include mq("md") {
    gap: rem(28);
  }
}

.message__text {
  font-size: rem(16);
  font-weight: var(--medium);
  line-height: 1.6;
  letter-spacing: 0.05em;
  line-break: strict;

  @include mq("md") {
    font-feature-settings: "pwid";
  }
}

.message__sign {
  margin-top: rem(20);
  text-align: right;

  @include mq("md") {
    margin-top: rem(14);
  }
}

%messageSign {
  font-size: rem(14);
  font-weight: var(--regular);
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.message__sign-company {
  @extend %messageSign;
}

.message__sign-title {
  @extend %messageSign;
}

.massage__sign-name {
  font-size: rem(18);
  font-weight: var(--medium);
  line-height: 1.6;
}