@use "global" as *;

.section-title {
  position: relative;
  font-weight: var(--bold);
}

.section-title--white {
  color: var(--white);
}

.section-title::before {
  content: "";
  position: absolute;
  width: rem(30);
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  background-color: var(--tertiary);
  border-radius: 100vmax;
}

.section-title__en {
  position: relative;
  font-size: rem(50);
  font-family: var(--poppins-font);
  line-height: 1.1;
}

.section-title__ja {
  font-size: rem(14);
  line-height: 1.6;
  letter-spacing: 0.05em;
}