@use "global" as *;

.section-title {
  position: relative;
  z-index: 1;
  font-weight: var(--bold);
  width: fit-content;
  display: flex;
  flex-direction: column;

  @include mq("md") {
    flex-direction: row;
    gap: rem(12);
    align-items: flex-end;
  }
}

.section-title__en {
  position: relative;
  font-size: rem(50);
  font-family: var(--poppins-font);
  line-height: 1.1;

  @include mq("md") {
    // display: inline-block;
    font-size: rem(90);
    line-height: 1.2;
  }
}

.section-title__circle {
  position: relative;
  display: inline-block;
}

.section-title__circle::before {
  content: "";
  position: absolute;
  width: rem(30);
  aspect-ratio: 1/1;
  top: rem(8);
  left: rem(-12);
  background-color: var(--tertiary);
  border-radius: 50%;
  z-index: -1;

  @include mq("md") {
    width: rem(40);
    top: rem(10);

    top: 0;
    left: rem(-14);
  }
}

.section-title__ja {
  font-size: rem(14);
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: currentColor;

  @include mq("md") {
    // display: inline-block;
  }
}

.section-title--message {
  @include mq("md") {
    flex-direction: column;
    gap: initial;
    align-items: center;
  }
}

.section-title--message .section-title__ja {
  @include mq("md") {
    margin-top: rem(-12);
    margin-left: initial;
    display: block;
  }
}

.section-title--history {
  color: var(--white);

  @include mq("md") {
    gap: rem(16);
  }
}

.section-title--history .section-title__circle::before {
  top: 0;
  left: rem(-12);

  @include mq("md") {
    // top: rem(6);
    // left: rem(-16);
  }
}

.section-title--history .section-title__ja {
  font-size: rem(16);

  @include mq("md") {
    padding-bottom: rem(10);
  }
}

.section-title--episode {
  gap: rem(8);

  @include mq("md") {
    gap: rem(16);
  }
}

.section-title--episode .section-title__circle::before {
  top: rem(-2);
  left: rem(-10);

  @include mq("md") {
    top: rem(4);
    left: rem(-14);
  }
}

.section-title--episode .section-title__ja {
  @include mq("md") {
    padding-bottom: rem(18);
  }
}

.section-title--character {
  color: var(--white);

  @include mq("md") {
    margin-left: auto;
    flex-direction: row-reverse;
    column-gap: rem(16);
    row-gap: initial;
  }

  @include mq("xl") {
    margin-left: rem(-20);
  }
}

.section-title--character .section-title__circle::before {
  top: 0;
  left: rem(-10);

  @include mq("md") {
    top: rem(8);
    left: rem(-6);
  }
}

.section-title--character .section-title__en {
  font-family: var(--base-font);
}

.section-title--character .section-title__ja {
  font-size: rem(16);


  @include mq("md") {
    padding-bottom: rem(16);
    white-space: nowrap;
  }
}

.section-title--book {
  @include mq("md") {
    margin-left: auto;
    flex-direction: row-reverse;
    column-gap: rem(16);
    row-gap: initial;
  }
}

.section-title--book .section-title__ja {
  @include mq("md") {
    padding-bottom: rem(20);
  }
}

.section-title--book .section-title__circle::before {
  top: rem(-6);
  left: rem(-12);

  @include mq("md") {
    top: 0;
    left: rem(-16);
  }
}