@use "global" as *;

.section-title {
  position: relative;
  font-weight: var(--bold);
  width: fit-content;
}

.section-title--white {
  color: var(--white);
}

.section-title--episode {
  display: grid;
  gap: rem(8);
}

.section-title::before {
  content: "";
  position: absolute;
  width: rem(30);
  aspect-ratio: 1/1;
  top: 0;
  left: rem(-12);
  background-color: var(--tertiary);
  border-radius: 50%;
}

.section-title--episode::before {
  top: rem(-4);
  left: rem(-10);
}

.section-title__en {
  position: relative;
  font-size: rem(50);
  font-family: var(--poppins-font);
  line-height: 1.1;
}

.section-title__ja {
  font-size: rem(14);
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: currentColor;
}

.section-title__ja--white {
  font-size: rem(16);
}