@use "global" as *;

.share {
  position: relative;
  padding-bottom: rem(90);

  @include mq("md") {
    padding-bottom: rem(160);
  }
}

.share__inner.inner {}

.share__container {
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: rem(50);
    justify-content: center;
    align-items: center;
  }
}

.share__read {
  padding-block: rem(8) rem(27);
  font-size: rem(20);
  font-weight: var(--bold);
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
  border-bottom: 1px solid;
  width: fit-content;
  margin-inline: auto;

  @include mq("md") {
    padding-block: rem(10);
    border-bottom: initial;
  }
}

.share__list {
  margin-top: rem(30);
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, rem(40));
  gap: rem(40);

  @include mq("md") {
    margin-top: initial;
    padding-left: rem(60);
    gap: rem(30);
    border-left: 1px solid;
  }
}

.share__item {}

.share__link {
  display: block;
  transition: filter 0.3s ease;
}

.share__link img {
  aspect-ratio: 1/1;
  object-fit: contain;
}

@media (any-hover: hover) {
  .share__link:hover {
    filter: brightness(0.7);
  }
}