@use "global" as *;

.history__ship {
  position: absolute;
  z-index: 1;
  right: calc(50% - min(180/375*100vw, rem(348)));
  top: rem(-84);
  width: rem(112);
  aspect-ratio: 112/113;
  animation: ship 4s ease-out infinite;

  @include mq("md") {
    width: rem(156);
    right: calc(50% - min(650/1440*100vw, 650px));
    top: rem(-80);
  }

  @include mq("xl") {
    right: calc(50% - min(650/1920*100vw, 750px));
    top: calc(-80/1920*100vw);
  }
}

.history__ship svg {
  width: 100%;
  height: 100%;
}

@keyframes ship {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0);
  }
}

.history__ship .vapor-top {
  animation: vapor 4s ease-out infinite;
}

.history__ship .vapor-bottom {
  animation: vapor 4s ease-out infinite;
}

@keyframes vapor {
  0% {
    transform: translate(-4%, 4%);
    opacity: 0;
  }

  66% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}